*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
    margin: 0;
    height: 95vh;
    display: flex;
    justify-content: center !important; 
    background-image: url(img/vutrunganha.jpg);
    font-size: 12px !important;
    flex-direction: column;
}
.main-box{
    padding-top: 300px;
    padding-left: 35%;
    text-align: center !important;
    align-items: center !important;
    margin-bottom: 50px;
}
.box_dai{
    width: 150%;
    max-width: 500px;
    min-height: 700px;
    padding: 1.75rem !important;
}
.headed_dai{
    text-decoration: none;
}
.text-white{
    color: white;
}
.logo-size{
    max-height: 30px !important;
}
.forn-size{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;
}
img {
    vertical-align: middle;
    border-style: none;
}
.font{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.form-group {
    margin-bottom: 1.75rem;
}
.form-raw{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}
element .style{
    width: 100%;
    margin-left: 8px;
    position: relative;
}
.col-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.country-select {
    display: block;
    padding: 12px;
    font-size: 16px;
    background-color: rgba(243, 246, 249, 0.36);
    border-radius: 5px;
    width: 160px;
    margin-right: 15px;
    margin-left: 0;
    color: white;
    appearance: none;
}
select:focus{
    background-color: white;
    color: black;
}
.phone-input {
    padding: 15px; 
    font-size: 14px; 
    border-radius: 10px; 
    border: 1px solid #ccc;
    margin-right: 0px;
    background-color: rgba(243, 246, 249, 0.36);
    width: 250px;
    color: white;
}

.phone-input::placeholder {
    color: white;
}
.input-1::placeholder {
    color: white;
}

.button{
    margin-top: 30px;
    gap: 100px;
}
.button-1{
    width: 35%;
    height: 45px;
    border-radius: 50px;
    cursor: pointer;
    color: white;
    border: 1px solid white;
    background-color: transparent;
}