#DISC_CONTAINER{
    padding: 15px 0;
    overflow: hidden;
}
#DISC_TITLE{
    padding: 10px;
    margin-bottom: 15px;
    text-align: center;
}
.titleMain{
    font-size: 1.2em;
    font-weight: bold;
}
.img{
    vertical-align: center;
    width: 33%;
    height: auto;
}
.titleDetail{
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 20px;
}
.disc-div{
    display: absolute;
}
.disc-table{
    font-size: 1em;
    margin: auto;
}
.disc-table td{
    vertical-align: top;
    font-size: 1em;
    padding: 10px;
}
.disc-table td.text{
    text-align: justify;
    text-align-last: center;
    font-size: 1em;
}
td.chb{
    text-align: center !important;
    font-size: 1.2em !important;
    cursor: pointer;
}
table{
    border-collapse: collapse;
}
.checked1{
    color: green;
}
.checked2{
    color: red;
}
.pos-relative{
    position: relative;
}
.m-b-20{
    margin-bottom: 20px;
}
.container{
    max-width: 1140px;
}

#DISC_QUESTION .disc-div {
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    visibility: hidden;
}

#DISC_QUESTION .disc-div:first-child {
    opacity: 1;
    transform: translateX(0); /* Phần tử đầu tiên không di chuyển */
    visibility: visible;
}

#DISC_QUESTION .disc-div:nth-child(2 + n) {
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%); /* Các phần tử khác bị đẩy sang ngoài */
} 


@keyframes animate {
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}